H1{
    font-size: xx-large;
    margin-bottom: 2rem;
}

ul{
    list-style: circle;
    margin: 2rem;
}

.bloc{
    padding: 2rem;
    margin: 1rem;
    border-radius: 20px;
    background-color:hsla(44, 95%, 84%, 0.2);
}




.column H2{
    text-align: left;
}



